[Unit]
Description=Parlement
           
[Service]
Type=simple
ExecStartPre=/bin/sleep 3
ExecStart=/usr/local/bin/parlement
ExecStop=/bin/pkill parlement
Restart=always
           
[Install]
WantedBy=default.target
